# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Generated figures
*.png
*.jpg
*.jpeg

# OS
.DS_Store
Thumbs.db

# Temporary files
draft/